@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200&family=Heebo:wght@300&family=Roboto+Mono:wght@200&display=swap');mport url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200&family=Roboto+Mono:wght@200&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body {
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 31%, rgba(26,56,185,1) 100%);
}
.foto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.Cabeçalho-entrada {
    display: flex;
    gap: 32px;
}

.Cabeçalho-entrada-link {
    font-family: 'Heebo', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 20px;
}

.conteudo {
    border-top: 0.4px solid black;
    height: fit-content;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo-principal-descrição {
    display: flex;
    flex-direction: column;
}

.conteudo-principal-descrição-main {
    font-family: 'Anuphan', sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: black;
    margin-bottom: 0px;
}

.conteudo-principal-descrição-sub {
    font-family: 'Anuphan', sans-serif;
    font-size: 35px;
    margin-bottom: 0px;
    color: black;
}

.conteudo-descrição {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.conteudo-descrição-1 {
    font-family: 'Heebo', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.conteudo-descrição-2 {
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 900;
    color: black;
}

.conteudo-descrição-3 {
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 900;
    color: black;
}

.conteudo-descrição-4 {
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 900;
    color: black;
}

.conteudo-principal-descrição-explain {
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}



.conteudo-include-descrição{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    align-items: center;
}

.conteudo-include-descrição-main{
    font-family: 'Heebo', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    
}


.conteudo-include-descrição-explain {
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 900;
    color: black;
}

.foto-include-logo {
    align-items: center;
}

.foto-include {
    padding: 175px;
    margin-bottom: 40px;  
}


.conteudo-interesses-2{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 900;
    color: black;
}

  .menu{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li{
    display: inline-block;
  margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu li a {
    display: block;
    font-family: 'Heebo', sans-serif;
    color: #383833;
    font-weight: bold;
    padding: 10px;
  }
  
  .menu li a:hover {
    background-color: #333;
    color: #fff;
  }


